name: flutter_chat_app
description: A modern chat messenger application built with Flutter.
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.2.3 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  provider: ^6.1.1
  intl: ^0.19.0

flutter:
  uses-material-design: true